body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
  display: flex;
}

.content {
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

form {
  width: 100%;
  max-width: 600px;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}


input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

